.home-page {
    background: linear-gradient(135deg, #88c057 0%, #2f7336 100%);
    height: 100%;

    .entity-section {
        padding: 1rem 0;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        position: relative;

        h2 {
            margin-bottom: 1rem;
            padding-left: 2rem;
        }
    }
}