.sideMenu {
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
    height: inherit;
    margin-top: 75px;
}

.mainContent {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 75px);
}

.logged-out{
    min-height: 100vh;
}

.app-container {
    width: 100%;
    min-width: 0;
    flex: 1;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #44474e;
    color: #ffffff;
    min-height: calc(100vh - 75px);
}

.app-container-logged-in{
    margin-top: 75px;
}

.navMenu{
    position: fixed;
    z-index: 20;
    width: 100%;
}

.sidebar-content{
    position: fixed;
    width: inherit;
}