<div class="app-container">
  <div class="sidebar">
    <div class="sidebar-content">
      <mat-nav-list>
        <h3 mat-subheader>DISCOVER</h3>
        <a mat-list-item [routerLink]="RoutePaths.home" routerLinkActive="mat-list-item-active">
          <mat-icon mat-list-icon>home</mat-icon>
          <span>Home</span>
        </a>
        <a mat-list-item [routerLink]="RoutePaths.songs" routerLinkActive="mat-list-item-active">
          <mat-icon mat-list-icon>music_note</mat-icon>
          <span>Songs</span>
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <h3 mat-subheader>Your Library</h3>
        <a mat-list-item [routerLink]="RoutePaths.artists" routerLinkActive="mat-list-item-active">
          <mat-icon mat-list-icon>mic</mat-icon>
          <span>Artists</span>
        </a>
        <a mat-list-item [routerLink]="RoutePaths.albums" routerLinkActive="mat-list-item-active">
          <mat-icon mat-list-icon>album</mat-icon>
          <span>Albums</span>
        </a>
        <a mat-list-item [routerLink]="RoutePaths.playlists" routerLinkActive="mat-list-item-active">
          <mat-icon mat-list-icon>queue_music</mat-icon>
          <span>Playlists</span>
        </a>
      </mat-nav-list>

      <ng-container *ngIf="userRole === 'ADMIN'">
        <mat-nav-list>
          <h3 mat-subheader>Manage</h3>
          <a mat-list-item [routerLink]="RoutePaths.createAlbum" routerLinkActive="mat-list-item-active">
            <mat-icon mat-list-icon>add</mat-icon>
            <span>Create Album</span>
          </a>

          <a mat-list-item [routerLink]="RoutePaths.createArtist" routerLinkActive="mat-list-item-active">
            <mat-icon mat-list-icon>add</mat-icon>
            <span>Create Artist</span>
          </a>

          <a mat-list-item [routerLink]="RoutePaths.createSong" routerLinkActive="mat-list-item-active">
            <mat-icon mat-list-icon>add</mat-icon>
            <span>Create Song</span>
          </a>
          <a mat-list-item [routerLink]="RoutePaths.userDashboard" routerLinkActive="mat-list-item-active">
            <mat-icon mat-list-icon>list</mat-icon>
            <span>User Dashboard</span>
          </a>
        </mat-nav-list>
      </ng-container>
    </div>
  </div>
</div>